<div class="HeaderMobileTertiaryNav" >
  <button (click)="closeTertiaryNav.emit()"
    class="HeaderMobileTertiaryNav-back"
    type="button">
    <img alt="Back" src="/assets/icons/back.svg">
  </button>
  <div class="HeaderMobileTertiaryNav-submenu">
    <div *ngFor="let navItem of tertiaryNavigationList" class="HeaderMobileTertiaryNav-submenu-item">
      <a [customLink]="navItem.navigationBlock.link"
        class="HeaderMobileTertiaryNav-link"
        appExternalLink>
        {{ navItem.navigationBlock.label }}
      </a>
    </div>
    <div class="HeaderMobileTertiaryNav-submenu-item">
      <a class="HeaderMobileTertiaryNav-seeAll">See All</a>
    </div>
  </div>
</div>
