<app-customerhub-mt-hero [customerhubModularTemplate]="(generalTemplateContent | async)?.customerhubmodulartemplate[0]"></app-customerhub-mt-hero>

<app-marketing-bar [customerhubMtMarketingBar]="(generalTemplateContent | async)?.customerhubmtmarketingbar[0]"></app-marketing-bar>

<app-beliefs [customerhubMtBody2Ref]="(generalTemplateContent | async)?.customerhubmtbody2[0]"></app-beliefs>

<app-quote [customerhubMtQuoteBarRef]="(generalTemplateContent | async)?.customerhubmtquotebar[0]"></app-quote>

<app-our-executives [customerhubMtBody3]="(generalTemplateContent | async)?.customerhubmtbody3[0]"></app-our-executives>

<app-join-team-bar [jointeambar]="(generalTemplateContent | async)?.customerhubmtjointeambar[0]"></app-join-team-bar>
